@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: 'Outfit', system-ui, sans-serif;

  --color-primary: #0a0b0f;
  --color-secondary: #12141c;
  --color-accent: #e50914;
  --color-accent-hover: #b20710;
  
  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;

  --animate-pan-zoom: pan-zoom 20s linear infinite alternate;

  @keyframes pan-zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.15); }
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-primary text-text-primary font-sans antialiased selection:bg-accent selection:text-white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-accent transition-colors;
  }
}